@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: rgb(250, 249, 249);
    font-family:Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.active {
    background-color: rgb(242, 241, 241);
}
